<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894235585963-og6cls1ebb4kjsfbiqlna512mdefra3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894235585963-og6cls1ebb4kjsfbiqlna512mdefra3q</string>
	<key>API_KEY</key>
	<string>AIzaSyBGTcWbfqjcN0g9wNfUtLJsZ5SC6f_e3Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>894235585963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unifamm</string>
	<key>PROJECT_ID</key>
	<string>unifamm-3f832</string>
	<key>STORAGE_BUCKET</key>
	<string>unifamm-3f832.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894235585963:ios:9377f98b28930e606eb6ee</string>
</dict>
</plist>